@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Student id:12246765</strong><br />
    <strong>Mobile no:</strong>  <a href="tel:+6134961115">+6134961115</a><br />
    <strong>Support:</strong>   <a href="mailto:axelbaylon@hotmail.com">axelbaylon@hotmail.com</a><br />
</address>