@{
    ViewBag.Title = "Axel's Store";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This is a store designed using the ASP.NET framework using topics learned from 158258 Web Development </p><br />
    <p class="lead">There is some seed data in Migrations/StoreConfiguration if you want to use it </p><br />
</div>

<div class="row">
    <div class="col-md-4">
        <strong>Axel Baylon</strong><br />
        <strong>Student id:12246765</strong><br />
    </div>
</div>